<?xml version="1.0" encoding="UTF-8"?>
<plugin id="cordova-plugin-walkme" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
  <name>WalkMeSDK</name>
  <js-module name="WalkMeSDK" src="www/WalkMeSDK.js">
    <clobbers target="cordova.plugins.WalkMeSDK" />
  </js-module>
  <platform name="ios">
    <framework src="abbi" type="podspec" spec="~> 1.13.3" />
    <config-file parent="/*" target="config.xml">
      <feature name="WalkMeSDK">
        <param name="ios-package" value="WalkMeSDK" />
      </feature>
    </config-file>
    <source-file src="src/ios/WalkMeSDK.m" />
  </platform>
  <platform name="android">
    <framework custom="true" src="src/android/walkme-sdk.gradle" type="gradleReference" />
    <config-file parent="/*" target="res/xml/config.xml">
      <feature name="WalkMeSDK">
        <param name="android-package" value="cordova-plugin-walkme.WalkMeSDK" />
      </feature>
    </config-file>
    <config-file parent="/*" target="AndroidManifest.xml">
    </config-file>
    <source-file src="src/android/WalkMeSDK.java" target-dir="src/cordova-plugin-walkme/WalkMeSDK" />
  </platform>
</plugin>
